.slider-games {
    .container{
         @media (max-width: 1000px) {
            padding-left: 0;
            padding-right: 0;
         }
    }
    &__sliderbtn{
    overflow: hidden;
    display: flex;
    justify-content: center;
    }
  &__line {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    margin: 0  10px 15px 10px;
     transition: transform 0.4s ease;
    will-change: transform;
    padding-bottom: 5px;
    gap: clamp(10px,2vw,20px);
    &::-webkit-scrollbar {
            height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: $VPur75;
        border-radius: 4px;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 16px;
      background: rgba(76, 75, 113, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      box-shadow: $BoxShadow1;
        transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
      pointer-events: none;
      z-index: 0;
    }

    &-btn {
    flex: 0 0 auto;
      position: relative;
      z-index: 1;
      border-radius: 16px;
      padding: 15px 30px;
      @include font($Font400);
      color: $VPur25;
      font-size: $V26;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.3s ease;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        user-select: none; 
      &:focus {
        outline: none;
      }

      // ✅ чтобы не появлялся скролл из-за фокуса в некоторых браузерах
      &:focus-visible {
        outline: none;
      }

      &.active {
        color: $VWhite;
      }
    }
  }
}
.slider-games__slider{
  position: relative;
}
.slider-games__content {
  overflow: hidden;
}
.slider-games__content-wrapper {
  display: flex;
  transition: transform 0.4s ease;
  will-change: transform;
}
.slider-games__content-item{
   flex: 0 0 20%;
  padding: 0 10px;
  @media (max-width: 1000px) {
    flex: 0 0 25%;
  }
  @media (max-width: 750px) {
    flex: 0 0 33.33%;
  }
  @media (max-width: 550px) {
    flex: 0 0 50%;
  }
    & img{
        width: 100%;
        max-height: 235px;
          height: 100%;
        border-radius: 10px;
    }
}
.slider-games__btn {
    @media (max-width: 1040px) {
        display: none !important;
        
    }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(76, 75, 113, 0.2);
backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
      box-shadow: $BoxShadow1;
  border: none;
  font-size: 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content: center;
}

.slider-games__btn-left {
  left: -10px;
  
}

.slider-games__btn-right {
  right: -10px;
}

