.main-home{
    background: url('../resurs/img/bg-home-main.png') no-repeat center / cover;
    &__wrapper{
        padding: 15px 0;
        min-height: 100vh;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__top{
        text-align: center;
    }
    &__header{ 
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        height: 60px;
        background: rgba(76, 75, 113, 0.2); 
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 16px;
        box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.1) inset, 
        0px 8px 12px 0px rgba(145, 123, 255, 0.3) inset,
        0px 1px 4px 0px rgb(130, 106, 253) inset,
        0px 2px 6px 0px rgba(0, 0, 0, 0.25),
        0px 0px 2px 0px rgba(0, 0, 0, 0.4);
        margin-bottom: 20px;
    }
    &__logo{
        display: block;
        margin-left: 20px;
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 10px;

        &-item {
            font-family: $Famaly1;
            @include font($Font400);
            color: $VPur25;
            font-size: $V16;
            transition: all .3s ease-in-out;
            &.active {
            color: $VOrange0;
            }
            &:hover{
                color: $VPur0;
            }
            &:hover .main-home__sublist{
                visibility: visible;
                opacity: 1;
            }
            & a{
                padding: 10px clamp(5px, 4vw, 13px);
                position: relative;
            }
        
        }
    }
    &__triangle{
        padding-top: 30px;
        position: absolute;
    }
    &__sublist, &__secondList{
        visibility: hidden;
        opacity: 0;
        max-width: 300px;  // например, максимум
        padding: 20px 10px;
        top:100%;
        border-radius: 20px;
        text-align: left;
       background: rgba(41, 32, 84, 1);
        box-sizing: border-box;
        white-space: nowrap;
        color: $VPur25;
        backdrop-filter: blur(10px);
        box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.1) inset, 
        0px 8px 12px 0px rgba(145, 123, 255, 0.3) inset,
        0px 1px 4px 0px rgb(130, 106, 253) inset,
        0px 2px 6px 0px rgba(0, 0, 0, 0.25),
        0px 0px 2px 0px rgba(0, 0, 0, 0.4);
         transition: all .4s ease-in-out;
        &-item{
            transition: all .3s ease-in-out;
            fill: $VPur25;
            position: relative;
            & svg{
                margin-left: 15px;
                
            }
            &:hover{
                color: $VPur0;
                fill: $VPur0;
            }
            &:hover .main-home__secondList{
                visibility: visible;
                opacity: 1;
            }
        }
        &-item + &-item{
            margin-top: 15px;
        }
    }
    &__secondList{
    }
    &__triangle-second{
        position: absolute;
        padding-left: 15px;
        left: 100%;
        top: -30px;
    }
    &__btn{
        max-width: 145px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        &-icon{
            display: none;
        }
    }
    &__popup{
        position: absolute;
        right: 0;
        top: 70px;
        max-width: 450px;
        max-height: 200px;
        transition: all .3s ease-in-out;
        visibility: hidden;
        opacity: 0;
        &.active{
            visibility: visible;
            opacity: 1;
        }
        & img{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            
        }
    }
    &__title{
        font-family: $Famaly1;
        @include font($Font900);
        color: $VWhite;
        font-size: $V68;

        text-transform: uppercase;
    }
    &__subtitle{
        font-family: $Famaly1;
        @include font($Font400);
        color: $VWhite;
        font-size: $V42;
    }
    &__name{
        font-family: $Famaly1;
        @include font($Font900);
        font-size: $V68;
        background: $VOrangeGrad;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__bottom{
        text-align: center;
    }
    &__button{
        font-family: $Famaly1;
        @include font($Font700);
        font-size: $V26;
        color: $VWhite;
        display: inline-block;
        padding: 25px 30px;
        margin-bottom: 15px;
    }
    &__text{
        max-width: 785px;
        margin: 0 auto;
        font-family: $Famaly2;
        @include font($Font400);
        color: $VPur0;
        font-size: $V16;
        line-height: $lineHeight1;
    }
}